* {
    margin: 0;
    padding: 0;
    background-color: rgb(15, 181, 184);
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
}

.box-1{
    background-color: blueviolet;
    grid-column: 1/2;
    grid-row: 1/3;
}